{% extends '::base.html.twig' %}

{% block css %}
    {# PARA EL DATATABLE #}
    <link href="{{ asset('bundles/ccc/css/jquery.dataTables.css') }}" rel="stylesheet" type="text/css" />
    <style>
        th, td { white-space: nowrap; }
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }
    </style>
{% endblock %}


{% block contenido %}
    <section id="main-content">

        {% block titulo %}
            <section class="wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header" style="text-align: center">{#<i class="fa fa-laptop"></i>#} Trabajo con los Nomencladores</h3>
                        {# <ol class="breadcrumb">
                             <li><i class="fa fa-home"></i><a href="{{ path('estatica', {'estatica':'inicio'}) }}">Inicio</a></li>
                             <li><i class="fa fa-laptop"></i>Dashboard</li>
                         </ol>#}
                    </div>
                </div>

            </section>
        {% endblock %}

        <section class="panel">
            <header class="panel-heading tab-bg-primary ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">Listado</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#about">Insertar</a>
                    </li>

                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">

                        <div class="row">
                            <div class="col-lg-12">
                                <table id="listado" class="display" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for nomenclador in nomencladores %}
                                        <tr>
                                            <td>{{ nomenclador.idNomenclador.nombre }}</td>
                                            <td>{{ nomenclador.nombre }}</td>

                                            <td>
                                                add
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="about" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        Formulario para Insertar Nomencladores
                                    </header>
                                    <div class="panel-body">
                                        <form class="form-horizontal" method="post" action="{{ path('insertarNomenclador') }}">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Tipo de Nomenclador</label>
                                                <div class="col-sm-6">
                                                    <select id="tipoNomenclador" name="tipoNomenclador" class="form-control round-input" required="required">
                                                        <option></option>
                                                        {% for tiposNomenclador in tiposNomencladores %}
                                                            <option value="{{ tiposNomenclador.id }}">{{ tiposNomenclador.nombre }}</option>
                                                        {% endfor%}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Nombre del Nomenclador</label>
                                                <div class="col-sm-6">
                                                    <input id="nombreNomenclador" name="nombreNomenclador" type="text" class="form-control round-input" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="submit" value="Enviar Datos" class="btn btn-info"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}

    {# PARA EL DATATABLE #}
    <script src="{{asset('bundles/ccc/js/jquery.dataTables.js')}}" type="text/javascript" ></script>
    <script>
        $(document).ready(function() {
            $('#listado').dataTable( {
                /* "scrollY": 250,*/
                /* "scrollX": true*/
            } );
        } );
        $(document).ready(function() {
            $('#bajaCobertura').dataTable( {
            } );
        } );
    </script>
{% endblock %}

