{% extends 'CCCBundle:CCC:obras.html.twig' %}

{% block css %}
    <style>
        .btnNuevo{padding: 0px 0px;}
    </style>
{% endblock %}

{% block contenido %}

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header toggle-nav" style="text-align: center">{% block encabezado %}Producción {% endblock %}</h3>
                </div>
            </div>
            {% block cuerpo %}
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading tab-bg-primary ">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#comportamiento">Comportamiento</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#real">Planificación / Real</a>
                                    </li>
                                   {# <li>
                                        <a data-toggle="tab" href="#facturacion">Facturación</a>
                                    </li>#}
                                </ul>
                            </header>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="comportamiento" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <section class="panel">
                                                    <table class="table table-bordered" id="imprimir">
                                                        <tbody>
                                                            <tr style="text-align: center">
                                                                <td rowspan="2" style="padding-top: 2%">No</td>
                                                                <td rowspan="2" style="padding-top: 2%">Objetivo</td>
                                                                <td rowspan="2" style="padding-top: 2%">Total</td>
                                                                <td colspan="2">Ejecutado</td>
                                                                <td colspan="2">Remanente</td>
                                                            </tr>
                                                            <tr style="text-align: center">
                                                                <td>$</td>
                                                                <td>%</td>
                                                                <td>$</td>
                                                                <td>%</td>
                                                            </tr>
                                                            {% set montoTotal = 0 %}
                                                            {% set montoConsumido = 0 %}
                                                            {% for objetivo in obra.objetivos %}
                                                                <tr style="text-align: center">
                                                                    <td>{{ objetivo.codigo }}</td>
                                                                    <td>{{ objetivo.objetivo | capitalize }}</td>
                                                                    <td>
                                                                        {% set total = 0 %}
                                                                        {% set consumido = 0 %}
                                                                        {% set porCientoConsumido = 0 %}
                                                                        {% set porCientoRemanente = 0 %}
                                                                        {% for grupo in objetivo.gruposActividades %}
                                                                            {% set totalGrupo = 0 %}
                                                                            {% set consumidoGrupo = 0 %}
                                                                            {% for actividad in grupo.actividades %}
                                                                                {% set totalGrupo = totalGrupo + actividad.total %}
                                                                                {% for planific in actividad.planificacion %}
                                                                                    {% set consumidoGrupo = consumidoGrupo + (planific.realP * actividad.precio) %}
                                                                                {% endfor %}
                                                                            {% endfor %}
                                                                            {% set total = total + totalGrupo %}
                                                                            {% set consumido = consumido + consumidoGrupo %}
                                                                        {% endfor %}
                                                                        {#{% set consumido = consumido + plan.real %}#}
                                                                        {% set remanente = total - consumido %}
                                                                        ${{ total | number_format(2, '.', ',') }}
                                                                        {% set montoTotal = montoTotal + total %}
                                                                        {% set montoConsumido = montoConsumido + consumido %}
                                                                    </td>
                                                                    <td>
                                                                        {% if total != 0 %}
                                                                            {% set porCientoConsumido = (consumido * 100) / total %}
                                                                        {% endif %}
                                                                        {% if consumido < total %}
                                                                            {% set porCientoRemanente = 100 - porCientoConsumido %}
                                                                        {% else %}
                                                                            {% set porCientoRemanente = 0 %}
                                                                        {% endif %}
                                                                        {{ consumido | number_format(2, '.', ',') }}
                                                                    </td>
                                                                    <td>
                                                                        {{ porCientoConsumido | number_format(2, '.', ',') }}
                                                                    </td>
                                                                    <td>
                                                                        {{ remanente | number_format(2, '.', ',') }}
                                                                    </td>
                                                                    <td>
                                                                        {{ porCientoRemanente | number_format(2, '.', ',') }}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            <tr style="text-align: center">
                                                                <td colspan="2">TOTAL</td>
                                                                <td>${{ montoTotal | number_format(2, '.', ',') }}</td>
                                                                <td>${{ montoConsumido | number_format(2, '.', ',') }}</td>
                                                                <td></td>
                                                                <td>${{ (montoTotal - montoConsumido) | number_format(2, '.', ',') }}</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </section>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-2">
                                                <button style="padding: 5px 7px" class="btn btn-success" id="print_btn" type="button" title="Imprimir">Imprimir</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="real" class="tab-pane">
                                        {% if obra.objetivos | length == 0 %}
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <img class="" src="{{asset('bundles/ccc/img/xls1.png')}}" style="width: 50%">
                                                </div>
                                                <div class="col-lg-10">
                                                    <form method="post" action="{{ path('insertarObjetivosObra') }}" enctype="multipart/form-data" class="">
                                                        <div class="row" style="text-align: center">
                                                            <div class="col-lg-3">
                                                                <label>Archivo Excell</label>
                                                                <input required type="file" name="nombreArchivo" id="nombreArchivo" value="Buscar" title="Buscar" class="btn btn-success"/><br>
                                                                <input type="hidden" value="{{ obra.id }}" name="idObra">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <input type="submit" value="Enviar" class="btn btn-primary"/>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <hr>
                                            <p class=" col-lg-12" style="text-align: justify">Para cargar correctamente el archivo <b>*.xls</b> o <b>*.xlsx</b> se deben cumplir lo siguiente:</p>
                                            <ul class="col-lg-12">
                                                <li>1ra Columna será el<code>"Nombre del Objetivo"</code> </li>
                                                <li>2da Columna será la<code>"Descripción del Objetivo"</code> </li>
                                                <li>3ra Columna será el<code>"Grupo de Actividad"</code> </li>
                                                <li>4ta Columna será la<code>"Actividad"</code> </li>
                                                <li>5ta Columna será la<code>"UM de la Actividad"</code> </li>
                                                <li>6ta Columna será la<code>"Cantidad"</code> </li>
                                                <li>7ta Columna será el<code>"Precio de la Actividad"</code> </li>
                                                <li>8va Columna será el<code>"Importe de la Actividad"</code> </li>
                                                <hr>
                                                <li style="text-align: center"><img class="" src="{{asset('bundles/ccc/img/produccion.png')}}" style="width: 100%"></li>
                                            </ul>
                                        {% else %}
                                            {% if  obra.objetivos[0].gruposActividades | length != 0 %}
                                                {% if  obra.objetivos[0].gruposActividades[0].actividades | length != 0 %}
                                                    <div class="row">
                                                        {% if is_granted('ROLE_OPERARIO') %}
                                                            {% if  obra.objetivos[0].gruposActividades[0].actividades[0].planificacion | length == 0 %}
                                                                <div class="col-lg-2">
                                                                    <a style="width: 65px" class="btn btn-success tooltips" data-placement="right" data-toggle="modal" href="#cargarExcel" title="Planificación de Actividades">Cargar</a>
                                                                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="cargarExcel" class="modal fade">
                                                                        <div class="modal-dialog" style="text-align: center;width: 600px; height: auto">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                                    <h4 class="modal-title">Cargar Excel </h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form class="form-horizontal" role="form">
                                                                                        <div class="form-group">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-1"></div>
                                                                                                <div class="col-lg-10">
                                                                                                    <form>
                                                                                                        <div class="row" style="text-align: center">
                                                                                                            <div class="col-lg-3">
                                                                                                                <label>Repetir</label>
                                                                                                                <select name="repeticion" class="form-control" required="required">
                                                                                                                    <option></option>
                                                                                                                    <option style="text-align: center" value="1">Diario</option>
                                                                                                                    <option style="text-align: center" value="7">Semanal</option>
                                                                                                                    <option style="text-align: center" value="14">Quincenal</option>
                                                                                                                    <option style="text-align: center" value="30">Mensual</option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                            <div class="col-lg-6">
                                                                                                                <label>Archivo Excell</label>
                                                                                                                <input required type="file" name="nombreArchivo" id="nombreArchivo" value="Buscar" title="Buscar" class="btn btn-success"/><br>
                                                                                                                <input type="hidden" value="{{ obra.id }}" name="idObra">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-1"></div>
                                                                                                            <div class="col-lg-6">
                                                                                                                <button type="submit" class="btn btn-primary" formmethod="post" formaction="{{ path('insertarPlanificacionActividades') }}" formenctype="multipart/form-data">Enviar</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <br>
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-1"></div>
                                                                                                            <div class="col-lg-10">
                                                                                                                <img class="" src="{{asset('bundles/ccc/img/planificacionActividades.png')}}" style="width: 80%">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </form>
                                                                                                </div>
                                                                                                <div class="col-lg-3"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="col-lg-2">
                                                                    <a style="width: 65px" class="btn btn-success tooltips" data-placement="right" data-toggle="modal" href="#cargarExcelEjecutado" title="Ejecución de Actividades">Cargar</a>
                                                                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="cargarExcelEjecutado" class="modal fade">
                                                                        <div class="modal-dialog" style="text-align: center;width: 600px; height: auto">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                                    <h4 class="modal-title">Cargar Excel </h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form class="form-horizontal" role="form">
                                                                                        <div class="form-group">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-1"></div>
                                                                                                <div class="col-lg-10">
                                                                                                    <form>
                                                                                                        <div class="row" style="text-align: center">
                                                                                                            <div id="sandbox-container" class="col-lg-4">
                                                                                                                <label>Fecha</label>
                                                                                                                <input style="text-align: center" name="fechaReporte" type="text" class="form-control round-input" required="required">
                                                                                                            </div>
                                                                                                            <div class="col-lg-4">
                                                                                                                <label>Archivo Excell</label>
                                                                                                                <input required type="file" name="nombreArchivo" id="nombreArchivo" value="Buscar" title="Buscar" class="btn btn-success"/><br>
                                                                                                                <input type="hidden" value="{{ obra.id }}" name="idObra">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-6">
                                                                                                                <button type="submit" class="btn btn-primary" formmethod="post" formaction="{{ path('insertarRealActividades') }}" formenctype="multipart/form-data">Enviar</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <br>
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-1"></div>
                                                                                                            <div class="col-lg-10">
                                                                                                                <img class="" src="{{asset('bundles/ccc/img/realActividades.png')}}" style="width: 50%">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </form>
                                                                                                </div>
                                                                                                <div class="col-lg-3"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <section class="panel">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                            <tr style="text-align: center">
                                                                <td style="width: 5px">No</td>
                                                                <td style="text-align: center;">Objetivo</td>
                                                                <td>Grupo de Actividades</td>
                                                            </tr>
                                                            {% for objetivo in obra.objetivos %}
                                                                <tr style="text-align: center">
                                                                    <td>{{ objetivo.codigo }}</td>
                                                                    <td>{{ objetivo.objetivo | capitalize }}</td>
                                                                    <td>
                                                                        <table class="table table-bordered">
                                                                            <tbody>
                                                                            <tr style="text-align: center">
                                                                                <td style="width: 5px">No</td>
                                                                                <td style="width: 5px">Grupo</td>
                                                                                <td>Actividades</td>
                                                                            </tr>
                                                                            {% for grupo in objetivo.gruposActividades %}
                                                                                <tr>
                                                                                    <td>{{ grupo.codigo }}</td>
                                                                                    <td>
                                                                                        {{ grupo.grupo | capitalize }}
                                                                                    </td>
                                                                                    <td>
                                                                                        <table class="table table-bordered">
                                                                                            <tbody>
                                                                                            <tr style="text-align: center">
                                                                                                <td style="width: 5px">No</td>
                                                                                                <td>Actividad</td>
                                                                                                <td style="width: 5px">UM</td>
                                                                                                <td style="width: 5px">Cant.</td>
                                                                                                <td style="width: 5px">Prec.</td>
                                                                                                <td style="width: 5px">Imp.</td>
                                                                                                <td>P/R</td>
                                                                                            </tr>
                                                                                            {% for actividad in grupo.actividades %}
                                                                                                <tr>
                                                                                                    <td>{{ actividad.codigo }}</td>
                                                                                                    <td>{{ actividad.actividad | capitalize }}</td>
                                                                                                    <td>{{ actividad.um }}</td>
                                                                                                    <td>{{ actividad.cantidad }}</td>
                                                                                                    <td>${{ actividad.precio | number_format(2, '.', ',') }}</td>
                                                                                                    <td>${{ actividad.total | number_format(2, '.', ',') }}</td>
                                                                                                    <td>
                                                                                                        <a style="width: 54px" class="btn btn-success btnNuevo tooltips" data-toggle="modal" href="#planificacion-{{ actividad.id }}" title="Planificación / Real">P/R</a>
                                                                                                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="planificacion-{{ actividad.id }}" class="modal fade">
                                                                                                            <div class="modal-dialog" style="text-align: center;width: 500px; height: auto">
                                                                                                                <div class="modal-content">
                                                                                                                    <div class="modal-header">
                                                                                                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                                                                        <h4 class="modal-title">Planificación / Real </h4>
                                                                                                                    </div>
                                                                                                                    <div class="modal-body">
                                                                                                                        <form class="form-horizontal" role="form">
                                                                                                                            <div class="form-group">
                                                                                                                                <div class="row">
                                                                                                                                    <div class="col-lg-2"></div>
                                                                                                                                    <div class="col-lg-8">
                                                                                                                                        <table class="table table-hover table-bordered">
                                                                                                                                            <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td rowspan="2"></td>
                                                                                                                                                <td colspan="2">Planif.</td>
                                                                                                                                                <td colspan="3">Real</td>
                                                                                                                                            </tr>
                                                                                                                                            <tr>
                                                                                                                                                <td>Cant.</td>
                                                                                                                                                <td>$</td>
                                                                                                                                                <td>Cant.</td>
                                                                                                                                                <td>$</td>
                                                                                                                                                <td>%</td>
                                                                                                                                            </tr>
                                                                                                                                            {% for plan in actividad.planificacion %}
                                                                                                                                                {% set porCiento = 0 %}
                                                                                                                                                <tr>
                                                                                                                                                    <td>{{ plan.descripcion }}</td>
                                                                                                                                                    <td>{{ plan.planificacion | number_format(2, '.', ',') }}</td>
                                                                                                                                                    <td>{{ plan.valor | number_format(2, '.', ',') }}</td>
                                                                                                                                                    <td>{{ plan.realP | number_format(2, '.', ',') }}</td>
                                                                                                                                                    <td>{{ (plan.realP * actividad.precio) | number_format(2, '.', ',') }}</td>
                                                                                                                                                    <td>
                                                                                                                                                        {% if plan.planificacion != 0 %}
                                                                                                                                                            {% set porCiento = (plan.realP * 100) / plan.planificacion %}
                                                                                                                                                        {% endif %}
                                                                                                                                                        {{ porCiento | number_format(2, '.', ',') }}
                                                                                                                                                    </td>
                                                                                                                                                </tr>
                                                                                                                                            {% endfor %}
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </div>
                                                                                                                                    <div class="col-lg-3"></div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </form>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            {% endfor %}
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {#<div id="facturacion" class="tab-pane">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-6">
                                                <section class="panel">
                                                    <table class="table table-bordered" id="imprimir">
                                                        <tbody>
                                                            <tr style="text-align: center">
                                                                <td>Meses</td>
                                                                <td>Planificación</td>
                                                                <td>Ejecutado</td>
                                                                <td>Facturado</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </section>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-2">
                                                <button style="padding: 5px 7px" class="btn btn-success" id="print_btn" type="button" title="Imprimir">Imprimir</button>
                                            </div>
                                        </div>
                                    </div>#}
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            {% endblock %}
        </section>
    </section>

{% endblock %}

{% block js %}
    <script src="{{asset('bundles/ccc/js/datepicker/bootstrap-datepicker.js')}}" type="text/javascript" ></script>
    <script src="{{asset('bundles/ccc/js/datepicker/bootstrap-datepicker.min.js')}}" type="text/javascript" ></script>
    <script>
        $('#sandbox-container input').datepicker({
            format: "dd.mm.yyyy",
            language: "es",
            orientation: "bottom auto",
            autoclose: true,
            todayHighlight: true
        });
    </script>

    <script src="{{asset('bundles/ccc/js/printThis.js')}}"></script>
    <script>
        $(document).ready(function () {
            $('#print_btn').click(function () {
                $('#imprimir').printThis();
            });
        });
    </script>
{% endblock %}

