{% extends '::base.html.twig' %}

{% block css %}
    {# PARA EL DATATABLE #}
    <link href="{{ asset('bundles/ccc/css/jquery.dataTables.css') }}" rel="stylesheet" type="text/css" />
    <style>
        th, td { white-space: nowrap; }
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block contenido %}
    <section id="main-content">

        {% block titulo %}
            <section class="wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header" style="text-align: center">{#<i class="fa fa-laptop"></i>#} Costeo de la Obra <a>{{ costeo.idObra.objeto }}</a></h3>
                         <ol class="breadcrumb">
                             <li><i class="fa fa-home"></i><a href="{{ path('estatica', {'estatica':'inicio'}) }}">Inicio</a></li>
                             <li><i class="icon_archive"></i><a href="{{ path('obras') }}">Obras</a></li>
                             <li><i class="icon_pencil-edit_alt"></i><a href="{{ path('costeoObra',{'id':costeo.idObra.id}) }}">Costeo</a></li>
                             <li><i class="icon_creditcard"></i>ALquiler de Equipos</li>
                         </ol>
                    </div>
                </div>

            </section>
        {% endblock %}

        <section class="panel">
            <header class="panel-heading tab-bg-primary ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">Alquiler de Equipos</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#about">Adicionar</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        {% if costeo.alquilerEquipos | length > 0 %}
                            {% set totalCUC = 0 %}
                            {% set importeCUC = 0 %}
                            {% for alquiler in costeo.alquilerEquipos %}
                                {% set importeCUC = alquiler.cantidad * alquiler.cantidadDiasUso * alquiler.tarifaDiaria %}
                                {% set totalCUC = totalCUC + importeCUC %}
                            {% endfor %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr style="text-align: center">
                                                <th style="text-align: center">Total Quincena</th>
                                                <th style="text-align: center">Total Mes</th>
                                                <th style="text-align: center">Total Obra</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td style="text-align: center">$ {{ (totalCUC / 2)|number_format(2, '.', ',') }}</td>
                                                <td style="text-align: center">$ {{ (totalCUC)|number_format(2, '.', ',') }}</td>
                                                <td style="text-align: center">$ {{ (totalCUC * costeo.tiempo)|number_format(2, '.', ',') }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="listado" class="display" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th>Equipo</th>
                                        <th>Unidad Medida</th>
                                        <th>Cantidad</th>
                                        <th>Cantidad de uso (días)</th>
                                        <th>Tarifa diaria</th>
                                        <th>Importe CUC</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% set totalCUC = 0 %}
                                    {% for alquiler in costeo.alquilerEquipos %}
                                        <tr>
                                            <td>
                                                {% for equipo in equipos if equipo.id == alquiler.equipo %}
                                                    {{ equipo.nombre }}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for unidadesMed in unidadesMedida if unidadesMed.id == alquiler.um %}
                                                    {{ unidadesMed.nombre }}
                                                {% endfor %}
                                            </td>
                                            <td>{{ alquiler.cantidad }}</td>
                                            <td>{{ alquiler.cantidadDiasUso }}</td>
                                            <td>$ {{ alquiler.tarifaDiaria }}</td>
                                            <td>
                                                {% set totalCUC = totalCUC + (alquiler.cantidad * alquiler.cantidadDiasUso * alquiler.tarifaDiaria) %}
                                                $
                                                {{ alquiler.cantidad * alquiler.cantidadDiasUso * alquiler.tarifaDiaria }}
                                            </td>

                                            <td>
                                              {#  <a class="btn btn-primary btn-sm" title="Desglozar Actividad" href="{{ path('desglozarCuantificacionObra',{ 'id' : cuantificacion.id}) }}">
                                                    <i class="icon_plus_alt"></i>
                                                </a>#}
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                    <a class="btn btn-danger btn-sm" title="Eliminar Alquiler" href="{{ path('eliminarAlquilerEquiposCosteoObra',{ 'id' : alquiler.id}) }}">
                                                        <i class="icon_trash"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="about" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        Formulario para el trabajo con el alquiler de equipos
                                    </header>
                                    <div class="panel-body">
                                        <form class="form-horizontal" method="post" action="{{ path('insertarAlquilerEquiposCosteoObra', {'id' : costeo.id}) }}#}">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Equipo</label>
                                                <div class="col-sm-6">
                                                    <select id="equipo" name="equipo" class="form-control round-input" required="required">
                                                        <option></option>
                                                        {% for equipo in equipos %}
                                                            <option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Unidad Medida</label>
                                                <div class="col-sm-6">
                                                    <select id="um" name="um" class="form-control round-input" required="required">
                                                        <option></option>
                                                        {% for unidadesMed in unidadesMedida %}
                                                            <option value="{{ unidadesMed.id }}">{{ unidadesMed.nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Cantidad</label>
                                                <div class="col-sm-6">
                                                    <input id="cantidad" name="cantidad" type="text" class="form-control round-input" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Cantidad Uso (días)</label>
                                                <div class="col-sm-6">
                                                    <input id="cantidadUso" name="cantidadUso" type="text" class="form-control round-input" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Tarifa Diaria</label>
                                                <div class="col-sm-6">
                                                    <input id="tarifa" name="tarifa" type="text" class="form-control round-input" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="submit" value="Enviar Datos" class="btn btn-info"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block js %}
    <script src="{{asset('bundles/ccc/js/jquery.hotkeys.js')}}"></script>
    <script src="{{asset('bundles/ccc/js/bootstrap-wysiwyg.js')}}"></script>
    <script src="{{asset('bundles/ccc/js/bootstrap-wysiwyg-custom.js')}}"></script>
    <script src="{{asset('bundles/ccc/assets/ckeditor/ckeditor.js')}}"></script>


    {# PARA EL DATATABLE #}
    <script src="{{asset('bundles/ccc/js/jquery.dataTables.js')}}" type="text/javascript" ></script>
    <script>
        $(document).ready(function() {
            $('#listado').dataTable( {
                 "scrollY": 250,
                 "scrollX": true
            } );
        } );
    </script>

{% endblock %}


