{% extends '::base.html.twig' %}

{% block css %}
    {# PARA EL DATATABLE #}
    <link href="{{ asset('bundles/ccc/css/jquery.dataTables.css') }}" rel="stylesheet" type="text/css" />
    <style>
        th, td { white-space: nowrap; }
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block contenido %}
    <section id="main-content">

        {% block titulo %}
            <section class="wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header" style="text-align: center">{#<i class="fa fa-laptop"></i>#} Costeo de la Obra <a>{{ costeo.idObra.objeto }}</a></h3>
                         <ol class="breadcrumb">
                             <li><i class="fa fa-home"></i><a href="{{ path('estatica', {'estatica':'inicio'}) }}">Inicio</a></li>
                             <li><i class="icon_archive"></i><a href="{{ path('obras') }}">Obras</a></li>
                             <li><i class="icon_pencil-edit_alt"></i><a href="{{ path('costeoObra',{'id':costeo.idObra.id}) }}">Costeo</a></li>
                             <li><i class="arrow_move"></i>Comunicaci贸n</li>
                         </ol>
                    </div>
                </div>

            </section>
        {% endblock %}

        <section class="panel">
            <header class="panel-heading tab-bg-primary ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">Comunicaci贸n</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#about">Adicionar</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        {% if costeo.comunicacion | length > 0 %}
                            {% set totalCUC = 0 %}
                            {% for comunicacion in costeo.comunicacion %}
                                {% set totalCUC = totalCUC + comunicacion.precio %}
                            {% endfor %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr style="text-align: center">
                                                <th style="text-align: center">Total Quincena</th>
                                                <th style="text-align: center">Total Mes</th>
                                                <th style="text-align: center">Total Obra</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td style="text-align: center">$ {{ (totalCUC / 2)|number_format(2, '.', ',') }}</td>
                                                <td style="text-align: center">$ {{ (totalCUC)|number_format(2, '.', ',') }}</td>
                                                <td style="text-align: center">$ {{ (totalCUC * costeo.tiempo)|number_format(2, '.', ',') }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="listado" class="display" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th>Personal</th>
                                        <th>Unidad Medida</th>
                                        <th>Precio CUC</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% set totalCUC = 0 %}
                                    {% for comunicacion in costeo.comunicacion %}
                                        <tr>
                                            <td>
                                                {% for especialidad in especialidades if especialidad.id == comunicacion.personal %}
                                                    {{ especialidad.nombre }}
                                                {% endfor %}
                                            </td>
                                            <td>{{ comunicacion.um }}</td>
                                            <td>
                                                $
                                                {{ comunicacion.precio }}
                                                {% set totalCUC = totalCUC + comunicacion.precio %}
                                            </td>

                                            <td>
                                              {#  <a class="btn btn-primary btn-sm" title="Desglozar Actividad" href="{{ path('desglozarCuantificacionObra',{ 'id' : cuantificacion.id}) }}">
                                                    <i class="icon_plus_alt"></i>
                                                </a>#}
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                    <a class="btn btn-danger btn-sm" title="Eliminar Comunicaci贸n" href="{{ path('eliminarComunicacionCosteoObra',{ 'id' : comunicacion.id}) }}">
                                                        <i class="icon_trash"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="about" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        Formulario para el trabajo con la Comunicaci贸n
                                    </header>
                                    <div class="panel-body">
                                        <form class="form-horizontal" method="post" action="{{ path('insertarComunicacionCosteoObra', {'id' : costeo.id}) }}#}">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Personal</label>
                                                <div class="col-sm-6">
                                                    <select id="personal" name="personal" class="form-control round-input" required="required">
                                                        <option></option>
                                                        {% for personalTO in costeo.personalTO %}
                                                            {% for especialidad in especialidades if personalTO.especialidad == especialidad.id %}
                                                                <option value="{{ especialidad.id }}">{{ especialidad.nombre }}</option>
                                                            {% endfor %}
                                                        {% endfor%}
                                                            <option value="otros">Otros</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Unidad Medida</label>
                                                <div class="col-sm-6">
                                                    <select id="um" name="um" class="form-control round-input" required="required">
                                                        <option></option>
                                                        <option value="u/mes">u/mes</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Precio CUC</label>
                                                <div class="col-sm-6">
                                                    <input id="precio" name="precio" type="text" class="form-control round-input" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input type="submit" value="Enviar Datos" class="btn btn-info"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block js %}
    <script src="{{asset('bundles/ccc/js/jquery.hotkeys.js')}}"></script>
    <script src="{{asset('bundles/ccc/js/bootstrap-wysiwyg.js')}}"></script>
    <script src="{{asset('bundles/ccc/js/bootstrap-wysiwyg-custom.js')}}"></script>
    <script src="{{asset('bundles/ccc/assets/ckeditor/ckeditor.js')}}"></script>


    {# PARA EL DATATABLE #}
    <script src="{{asset('bundles/ccc/js/jquery.dataTables.js')}}" type="text/javascript" ></script>
    <script>
        $(document).ready(function() {
            $('#listado').dataTable( {
                 "scrollY": 250,
                 "scrollX": true
            } );
        } );
    </script>

{% endblock %}


