{% extends 'CCCBundle:CCC:obras.html.twig' %}

{% block css %}
   {# <style>
        .btn{padding: 0px 0px;}
    </style>#}
{% endblock %}

{% block contenido %}

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header toggle-nav" style="text-align: center">{% block encabezado %}Personal {% endblock %}</h3>
                </div>
            </div>
            {% block cuerpo %}
               <div class="row">
                   <div class="col-lg-3"></div>
                   <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading tab-bg-primary ">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#comportamiento">Comportamiento</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#real">Planificación / Real</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="comportamiento" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <section class="panel">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr style="text-align: center">
                                                                <th>Especialidad</th>
                                                                <th>Total</th>
                                                                <th>Consumido</th>
                                                                <th>Remanente</th>
                                                            </tr>
                                                            {% for personal in obra.personal %}
                                                                <tr style="text-align: center">
                                                                    <td>{{ personal.especialidad | capitalize }}</td>
                                                                    <td>{{ personal.cantidad }}</td>
                                                                    <td>
                                                                        {% set consumido = 0 %}
                                                                        {% for planf in personal.planificacion %}
                                                                            {% set consumido = consumido + planf.realP %}
                                                                        {% endfor %}
                                                                        {% set remanente = personal.cantidad - consumido %}
                                                                        {{ consumido | number_format(2, '.', ',') }}
                                                                    </td>
                                                                    <td>
                                                                        {{ remanente | number_format(2, '.', ',') }}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="real" class="tab-pane">
                                        {% if obra.personal | length == 0 %}
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <img class="" src="{{asset('bundles/ccc/img/xls1.png')}}" style="width: 50%">
                                                </div>
                                                <div class="col-lg-10">
                                                    <form method="post" action="{{ path('insertarPersonalObra') }}" enctype="multipart/form-data" class="">
                                                        <div class="row" style="text-align: center">
                                                            <div class="col-lg-3">
                                                                <label>Archivo Excell</label>
                                                                <input required type="file" name="nombreArchivo" id="nombreArchivo" value="Buscar" title="Buscar" class="btn btn-success"/><br>
                                                                <input type="hidden" value="{{ obra.id }}" name="idObra">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <input type="submit" value="Enviar" class="btn btn-primary"/>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <hr>
                                            <p class=" col-lg-12" style="text-align: justify">Para cargar correctamente el archivo <b>*.xls</b> o <b>*.xlsx</b> se deben cumplir lo siguiente:</p>
                                            <ul class="col-lg-12">
                                                <li>1ra Columna será la <code>"Especialidad"</code> </li>
                                                <li>2da Columna será la<code>"Cantidad de trabajadores con esa especialidad"</code> </li>
                                                <li>3da Columna será el<code>"Anticipo"</code> </li>
                                                <hr>
                                                <li style="text-align: center"><img class="" src="{{asset('bundles/ccc/img/personal.png')}}" style="width: 50%"></li>
                                            </ul>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-2">
                                                    {% if obra.personal[0].planificacion | length == 0 %}
                                                        <a style="width: 54px" class="btn btn-success" data-toggle="modal" href="#cargarExcel" title="Planificación">Plan</a>
                                                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="cargarExcel" class="modal fade">
                                                            <div class="modal-dialog" style="text-align: center;width: 600px; height: auto">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                        <h4 class="modal-title">Cargar Excel </h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form class="form-horizontal" role="form">
                                                                            <div class="form-group">
                                                                                <div class="row">
                                                                                    <div class="col-lg-1"></div>
                                                                                    <div class="col-lg-8">
                                                                                        <form>
                                                                                            <div class="row" style="text-align: center">
                                                                                                <div class="col-lg-4">
                                                                                                    <label>Repetir</label>
                                                                                                    <select name="repeticion" class="form-control" required="required">
                                                                                                        <option></option>
                                                                                                        <option style="text-align: center" value="1">Diario</option>
                                                                                                        <option style="text-align: center" value="7">Semanal</option>
                                                                                                        <option style="text-align: center" value="14">Quincenal</option>
                                                                                                        <option style="text-align: center" value="30">Mensual</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                                <div class="col-lg-5">
                                                                                                    <label>Archivo Excell</label>
                                                                                                    <input required type="file" name="nombreArchivo" id="nombreArchivo" value="Buscar" title="Buscar" class="btn btn-success"/><br>
                                                                                                    <input type="hidden" value="{{ obra.id }}" name="idObra">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="8">
                                                                                                    <img class="" src="{{asset('bundles/ccc/img/planificacionPersonal.png')}}" style="width: 120%">
                                                                                                </div>
                                                                                            </div>
                                                                                            <br>
                                                                                            <div class="row">
                                                                                                <div class="col-lg-4">
                                                                                                    <button type="submit" class="btn btn-primary" formmethod="post" formaction="{{ path('insertarPlanificacionPersonal') }}" formenctype="multipart/form-data">Enviar</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                    <div class="col-lg-3"></div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <a style="width: 70px" class="btn btn-success" data-toggle="modal" href="#cargarExcelConsumido" title="Consumido">Consum.</a>
                                                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="cargarExcelConsumido" class="modal fade">
                                                            <div class="modal-dialog" style="text-align: center;width: 600px; height: auto">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                        <h4 class="modal-title">Cargar Excel </h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form class="form-horizontal" role="form">
                                                                            <div class="form-group">
                                                                                <div class="row">
                                                                                    <div class="col-lg-1"></div>
                                                                                    <div class="col-lg-8">
                                                                                        <form>
                                                                                            <div class="row" style="text-align: center">
                                                                                                <div id="sandbox-container" class="col-lg-4">
                                                                                                    <label>Fecha</label>
                                                                                                    <input style="text-align: center" name="fechaReporte" type="text" class="form-control round-input" required="required">
                                                                                                </div>
                                                                                                <div class="col-lg-5">
                                                                                                    <label>Archivo Excell</label>
                                                                                                    <input required type="file" name="nombreArchivo" id="nombreArchivo" value="Buscar" title="Buscar" class="btn btn-success"/><br>
                                                                                                    <input type="hidden" value="{{ obra.id }}" name="idObra">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="8">
                                                                                                    <img class="" src="{{asset('bundles/ccc/img/consumidoPersonal.png')}}" style="width: 120%">
                                                                                                </div>
                                                                                            </div>
                                                                                            <br>
                                                                                            <div class="row">
                                                                                                <div class="col-lg-4">
                                                                                                    <button type="submit" class="btn btn-primary" formmethod="post" formaction="{{ path('insertarConsumidoPersonal') }}" formenctype="multipart/form-data">Enviar</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                    <div class="col-lg-3"></div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-6">
                                                    <section class="panel">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                            <tr style="text-align: center">
                                                                <th>Especialista</th>
                                                                <th>Cantidad</th>
                                                                <th>Opciones</th>
                                                                {% for personal in obra.personal %}
                                                                    <tr style="text-align: center">
                                                                        <td>{{ personal.especialidad | capitalize }}</td>
                                                                        <td>{{ personal.cantidad }}</td>
                                                                        <td>
                                                                            <a style="width: 54px;padding: 0px 0px;" class="btn btn-success" data-toggle="modal" href="#planificacion-{{ personal.id }}" title="Planificación / Real">P / R.</a>
                                                                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="planificacion-{{ personal.id }}" class="modal fade">
                                                                                <div class="modal-dialog" style="text-align: center;width: 500px; height: auto">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                                            <h4 class="modal-title">Planificación / Real </h4>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <form class="form-horizontal" role="form">
                                                                                                <div class="form-group">
                                                                                                    <div class="row">
                                                                                                        <div class="col-lg-3"></div>
                                                                                                        <div class="col-lg-6">
                                                                                                            <table class="table table-hover table-bordered">
                                                                                                                <tbody>
                                                                                                                <tr>
                                                                                                                    <td></td>
                                                                                                                    <td>Planif.</td>
                                                                                                                    <td>Real</td>
                                                                                                                </tr>
                                                                                                                {% for plan in personal.planificacion %}
                                                                                                                    <tr>
                                                                                                                        <td>{{ plan.descripcion }}</td>
                                                                                                                        <td>{{ plan.planificacion }}</td>
                                                                                                                        <td>{{ plan.realP }}</td>
                                                                                                                    </tr>
                                                                                                                {% endfor %}
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </div>
                                                                                                        <div class="col-lg-3"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </section>
                   </div>
               </div>
            {% endblock %}
        </section>
    </section>

{% endblock %}